*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
/*efectos del menu*/
.headroom {
    transition: transform .7s ease;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

header{
	background:black;
	width:100%;
	height:95vh;
	color: white;
}
header .title {
	font-family: 'Cormorant SC', serif;
	font-size:60px;
	padding-top:10%;
	text-align:center;

}
header .code{
	display:table;
	margin:80px auto;
	text-decoration:none;
}
header .code p {
	font-size: 17px;
	font-family: 'Inconsolata', monospace;
	text-decoration: none;
	color:white;
}
header .code .line {
	margin-left:10px;
}
header .code .comment{
	color: gray;
}

.header {
	transition:all 0.3s;
	width:100%;
	height:80px;
	align-items:center;
	color:white;
	position:fixed;
	z-index:100;
	top:0;

}
.header a {
	transition:all 0.3s;
	text-decoration:none;
	color:white;
	padding:10px 15px;
	margin-left:5px;
	font-family: 'Roboto Condensed', sans-serif;
}
.header a:hover{
	transition:all 0.3s;
	background:rgba(251,251,251,0.1);
}
.header {
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:30px;
}

.header.scroll {
-webkit-box-shadow: 0px 6px 38px 1px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 6px 38px 1px rgba(0,0,0,0.47);
box-shadow: 0px 6px 38px 1px rgba(0,0,0,0.47);
background:white;
z-index:100;
}
.header.scroll a {
	color:black;
}

/** Main **/

#proyectos {
	width:90%;
	height:auto;
	margin:auto;
	padding:50px;
}
#proyectos .description {
	margin-top:30px;
}


.table-proyects {
	width:100%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
}
.content-proyect:last-child {
	margin-right:auto;
	margin-left:10px;
}

.content-proyect {
	width:calc((100% - 30px) / 3);
	display:block;
	margin-bottom:70px;
}
.title-proyect {
	text-decoration:none;
	width:100%;
	font-size:19px;
	font-weight:700;
	text-align:left;
	color: #0366D6;
	display:block;
	margin-bottom:10px;
}
.title-proyect:hover {
	text-decoration:underline;
	outline-color:#0366D6;
	cursor:pointer;
}
.desc-proyect {
	color:#586069;
	font-size:14px;
	width:100%;
	text-align:left;
	margin-bottom:10px;
}

.language-proyect p {
   color:#191919;
   font-weight:bold;
   font-size:14px;
   margin-left:15px;
}
.language-proyect::before {
	content: " ";
	position:absolute;
	width:12px;
	height:12px;
	margin-top:4px;
	border-radius:100%;
	background:#B07219;
}

.language-proyect.java::before {
	background:#B07219;
}
.language-proyect.javascript::before {
	background:#F1E05A;
}




/* about me */

#about {
	background:#191919;
	padding: 80px 10%;
	color:white;
	height:auto;
}

#about p {
	margin-top:30px;
}


#about .content-nav {
	margin-top:50px;
	display:flex;
	justify-content:space-between;
}
#about .content-nav h4 {
	margin-bottom:20px;
}

/* contatc me */ 
#contactme {
	background:white;
	padding: 80px 10%;
	color:black;
	height:auto;
}
#contactme h2 {
	width:100%;
	text-align:center;
}

.social-media {
	width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:auto;
}
.social-media a {
	text-decoration:none;
	text-align:center;
	margin:70px auto;
	padding-left:8px;
	font-size:70px;
	color:#191919;
	cursor:pointer;
}

.social-media a p {
	margin-top:10px;
	font-size:20px;
}
.subtitle {
	text-align:center;
	margin:30px auto;
}

footer {
	background:#191919;
	padding:15px;
}
footer p {
	color:white;
	text-align:left;
	font-size:15px;
}


.movil-header {
	display:none;
}
.movil-nav {
	display:none;
}


/* box*/

.info-box {
	transition:all 0.9s;
	transform:scale(0);
	margin: 10% auto;
	padding:40px;
	padding-bottom:60px;
	border-radius:10px;
	background:white;
	width:80%;
	height:auto;
}
.banner {
	background:rgba(0,0,0,0.8);
	transition:all 0.6s;
	position:fixed;
	top:0;
	width:100%;
	height:100vh;
	z-index:900;
}


.infox-box p {
	display:block;
	margin:30px;
}
.github {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	padding:5px;
	text-decoration:none;
	color:white;
	background:#24292E;
	text-align:center;
	border-radius:5px;
	position:relative;
	top:30px;
	left:0px;
}

.spigot {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	padding:5px;
	text-decoration:none;
	color:white;
	text-align:center;
	border-radius:5px;
	position:relative;
	top:30px;
	left:0px;
	background: #EE8915;
}
.github {
	padding:10px;
}

/* cell */
@media screen and (max-width: 600px){
.table-proyects {
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:none;
	
}
.content-proyect:last-child {
	margin-right:auto;
	margin-left:0px;
}

.content-proyect {
	width:95%;
	display:block;
	margin-bottom:70px;
}



  /* header */
header .code{
	display:table;
	margin:30vh auto;
	text-decoration:none;
}
 /* info box */ 

.info-box {
	margin: 20% auto;
}
  /* proyectos */

  #proyectos {
  	width:100%;
  	padding:20px;
  }	

 .content-nav {
 	flex-wrap:wrap;
 }
 .content-nav nav {
 	padding:10px;
 	margin-bottom:40px;
 }
 
 .social-media {
  display:flex;
  flex-wrap:wrap;
 }
 .social-media a {
   padding:7px;
 }

}


@media screen and (max-width: 444px){
    .header {
    	display:none;
    }
    .movil-header {
     transition:all 0.5s;	
     width:100%;
     display:block;
     position:fixed;
     z-index:100;
     top:0;
     padding:15px;
    }
    .movil-header.push {
    	box-shadow:none;
    }
    .movil-header a{
     position:relative;
     color:white;
     z-index:10;
     transition:all 0.5s;
    }
    .movil-header.scroll {
    	background:white;
    	color:black;
    } 
    .movil-header.scroll .icon-menu {
    	color:black;
    }
    .icon-menu.push {
    	color:black;
    	transition:all 0.5s;
    }
    .movil-nav {
    	transition:all 0.3s;
    	display:block;
    	position:fixed;
    	background:white;
    	color:black;
    	width:80%;
    	height:100vh;
    	transform:translate(-100%);
    }
    .movil-nav.push {
    	transition:all 0.4s;
    	transform:translate(0%);
    }
    .movil-nav nav {
    	padding-top:45px;
    }
    .movil-nav nav li {
    	text-decoration:none;
    	list-style-type: none;
    	padding:15px;
    	margin-top:20px;
    	font-size:18px;
    	transition:all 0.3s;
    }
    .movil-nav nav li:hover {
    	background:#BEBEBE;
    }
    
}
